:root {
  --main: rgba(3, 45, 104, 1);
  --primaryprimary-1: rgba(25, 37, 79, 1);
  --primaryprimary-2: rgba(33, 53, 88, 1);
  --primaryprimary-3: rgba(3, 37, 75, 1);
  --primaryprimary-4: rgba(47, 68, 115, 1);
  --primaryprimary-5: rgba(25, 36, 56, 1);
  --tertiarytertiary-1: rgba(245, 240, 234, 1);
  --tertiarytertiary-2: rgba(217, 203, 194, 1);
  --tertiarytertiary-3: rgba(255, 240, 211, 1);
  --tertiarytertiary-4: rgba(207, 199, 186, 1);
  --tertiarytertiary-5: rgba(192, 188, 177, 1);
  --typographybonus-1: rgba(227, 227, 227, 1);
  --typographybonus-2: rgba(211, 211, 211, 1);
  --typographybonus-3: rgba(158, 158, 158, 1);
  --typographybonus-4: rgba(104, 104, 104, 1);
  --typographybonus-5: rgba(68, 68, 68, 1);
}
